/* This CSS is an EPUB 3 port of the legacy CSS used in MTM's DAISY talking books

Version: 1.0

*/

/* --- NAMESPACE DECLARATIONS --- */
@namespace epub "http://www.idpf.org/2007/ops";


/* --- BODY - GENERAL STYLING --- */
body {
    font-family: arial, helvetica, verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    /* line-height/font-size spec needed? */
}

/* --- HEADINGS --- */
h1.title {
   color: #000000;
   font-size: 250%;
   font-style: normal;
   font-weight: bold;
   margin-top: 5em;
   margin-bottom: 2em;
}

h1 {
   color: #000000;
   font-size: 175%;
   font-weight: bold;
   margin-top: 3em;
   margin-bottom: 1em;
}

h2 {
   color: #000000;
   font-size: 150%;
   font-weight: normal;
   margin-top: 2.5em;
   margin-bottom: 1em;
}

h3 {
   color: #000000;
   font-size: 135%;
   font-weight: normal;
   margin-top: 2em;
   margin-bottom: 1em;
}

h4 {
   color: #000000;
   font-size: 115%;
   font-weight: bold;
   margin-top: 1em;
   margin-bottom: 0.5em;
}

h5 {
   color: #000000;
   font-size: 105%;
   font-weight: bold;
   margin-top: 1em;
   margin-bottom: 0em;
}

h6, p[epub|type='bridgehead'] {
   color: #000000;
   font-size: 100%;
   font-weight: bold;
   margin-top: 0.5em;
   margin-bottom: 0em;
}

/* --- LINKS --- */
* a {
   color: #000000;
   text-decoration: none;
}
a:hover, a:active, a:focus {
   text-decoration: none;
   color : #CC3333;
   background-color: #FFFFCC;
}

/* --- FOOTNOTES --- */
a[role=doc-noteref] {
   vertical-align: super;
   line-height: normal;
   font-size: smaller;
   border: 1px solid #FF0000;
}

/* --- PAGE NUMBERS --- */
[epub|type='pagebreak'] {
    display: block;
    text-align: right;
    margin-right: 2em;
    font-weight: bold;
    border-top: solid 1px #E5E5E5;
    padding-top: 2em;
    margin-top: 3em;
}

/* --- TITLEPAGE/FRONTMATTER --- */
.docauthor, *[epub|type='z3998:author'], span.author {
   /* span.author selector needed? */
   font-size: 140%;
   display: block;
   font-weight: normal;
   margin-top: 2em;
}

span[epub|type='subtitle'] {
   font-size: 50%;
   display: block;
   margin-top: 1em;
}
